 <nav class="site-nav">
    <div class="trigger">
      {% for link in site.data.nav %}
        <a class="page-link" href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </nav>
<header class="site-header">

  <div class="wrapper">
    <a href="{{ site.baseurl }}/" class="avatar">&nbsp;
      <!--<img src="{{ site.baseurl}}/images/web/kotaro-henshin.png" class="human"/>
      <img src="{{ site.baseurl}}/images/web/ichigo.jpg" class="rider"/>-->
    </a>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <br>{{ site.description }}


  </div>

</header>
