<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.muut.com/1/moot.min.js"></script>
<script src="{{ "/assets/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/fitvids.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/vendor/instafeed.min.js" | prepend: site.baseurl }}"></script>
{% assign url = '{{image}}' %}
{% assign text = '{{caption}}' %}

<script>
    $(document).foundation();
    $(document).ready(function(){      
		//instagram
		var loadButton = document.getElementById('load-more');
		var userFeed = new Instafeed({
			get: 'user',
			userId: 30619238,
			accessToken: '30619238.467ede5.115b1f5d14d64afa82356649a56cc8f8',
			resolution:'standard_resolution',
			links:false,
			template: '<div class="ig-wrapper"><img src="{{url}}" /><p>{{text}}</p></div>',
			after: function() {
				// disable button if no more results to load
			    if (!this.hasNext()) {
			      loadButton.setAttribute('disabled', 'disabled');
			    }
			},
			filter: function(image) {
			    return image.tags.indexOf('iamriderm4n') >= 0;
			}
		});
		loadButton.addEventListener('click', function() {
			userFeed.next();
		});
		userFeed.run();
	});
	  
</script>
