/**
 * Site header
 */
.site-header {
    /*border-bottom: 1px solid $grey-color-light;*/
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    text-align:center;
    padding-top:50px;
}
.avatar{
  background:url("../../images/web/kotaro-henshin-trans.png");
  width:120px;
  height:120px;
  background-size:contain;
  display:block;
  margin:0 auto;
  @include transition(all, 0.7s, ease-in-out);
  

}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-bottom: 0;
    font-family: $title-font;

    &,
    &:visited {
        color:#000;
    }
}

.site-nav {
    position:fixed;
    width:100%;
    padding:10px 0;
    z-index:10;
    background: $background-color;
    left:0px;

    .menu-icon {
        display: none;
    }
    .page-link {
        color: $link-color;
        line-height: $base-line-height;
        &:hover{
            color:$text-color;
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    .trigger{
      width:100%;
      text-align:center;
    }

}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

@include media-query($on-palm) {
    .post-meta{
      display:block;
    }
    .post-list{
      .categories{
        display:none;
      }
      >li{
        margin-bottom:20px;
        padding:3px 0;
      }
    }
}



/**
 * Page content
 */
.page-content {
    padding: 30px 0;
}

.page-heading {
    font-size: 20px;
    letter-spacing: 2px;
}

ul.post-list {
    margin-left: 0;
    list-style: none;
    font-size: 13px;

    > li {
        padding:3px 0;
    }
    .categories{
      
      color:$grey-color;
    }
}

.post-meta {
    color: $text-color;
    margin-right:20px;
}

.post-link {
  font-size: 13px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 30px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 24px;
        }
    }

    h4 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    p{

      margin-bottom:20px
    }
    table{
      width:100%;
    }
    .video-wrapper{
      position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
    }
    .video-wrapper iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
    .catntags{
      color:$grey-color;
      margin-top:20px
    }
}

#instafeed{
    max-width:550px;
    margin:0 auto;
}
.ig-wrapper{
    margin-bottom:40px;
    img{
        margin-bottom:5px;    }
    p{
       padding-bottom:5px;
       color:#000;
    }
}
span.load-more{
    background-color: transparent;
    color: $link-color;
    font-family:$base-font-family;
    border-color:transparent;
    &:hover{
        color:$link-color;
        cursor:pointer;
    }
}
.m-focused .m-postinput{
  border-color:$grey-color!important;
  box-shadow:none!important;
  min-height:3.6em
}
.m-button, .moot button {
    padding: .6em 1.8em;
    border-radius: 0!important;
    font-size: .9em;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: $brand-color!important;
    cursor: pointer;
    border: 0;
}
.m-input:focus, .m-input-wrap:focus, .m-postinput:focus {
  border-color: $grey-color!important;
  outline: none!important;
}
#moot-logo{
  padding:0!important;

  a{
    display: none!important;
  }

}
.share-page{
    a{
        font-size: 20px;
    }
}
input[type="submit"]{
  background: $text-color;
  border:1px solid $text-color;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding:10px 30px;

}
input[type="submit"]:hover{
  background: lighten($text-color, 40%);
  border:1px solid lighten($text-color, 40%);
  color:#fff;
}
input[type="text"],textarea{
  font-size: 12px;
}
::selection {
    background: black;
    color: white;
    text-shadow: none;
}